version: '3.8'

services:
  postgres-local:
    image: postgres:latest
    container_name: postgres-local
    environment:
      POSTGRES_DB: eCommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - ecommerce-network

  ecommerce.api:
    image: ecommerceapi
    container_name: eCommerce.API
    build:
      context: .
      dockerfile: Hosts/eCommerce.API/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - postgres-local
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local